<mat-toolbar class="toolbar">
  <img class="toolbar-logo" src="assets/image/logo.png" alt="Rick e Morty">

  <span class="spacer"></span>

  <nav class="segmented" aria-label="Navegação principal">
    
    <a class="seg-btn um" 
      routerLink="/"
      routerLinkActive="active"
      [routerLinkActiveOptions]="{ exact: true }">
      <mat-icon fontIcon="home"></mat-icon>
      <span>Início</span>
    </a>

    <a class="seg-btn dois"
       routerLink="/favorites"
       routerLinkActive="active">
      <mat-icon fontIcon="favorite"></mat-icon>
      <span>Favoritos</span>
      <span class="badge" >{{ (contFavorites | async) ?? 0 }}</span>
    </a>
  </nav>

</mat-toolbar>

<div class="page">
  <router-outlet></router-outlet>
</div>
