<header class="home-header">
  <h1 class="title">INÍCIO</h1>
  <span class="spacer"></span>
  <label class="search-wrap" for="search">
    <span class="sr-only">Pesquisar</span>

    <input id="search"
      [formControl]="searchCtrl"
      class="search-input"
      type="text"
      placeholder="Pesquisar" />

    <button type="button"
      class="clear-btn"
      (click)="clear()"
      aria-label="Limpar pesquisa"
    >
      <mat-icon style="margin-left: -5px;" class="">close</mat-icon>
    </button>

  </label>
</header>

<app-dial-radio
  [totalPages]="totalPages"
  [page]="page"
  (pageChange)="onDialChange($event)">
</app-dial-radio>

<section *ngIf="results.length > 0; else emptyOrLoading" class="grid">
  <article class="card" *ngFor="let c of results">

    <button
      type="button"
      class="fav-btn"
      (click)="toggleFavorite(c.id, c)"
      [class.is-fav]="(isFav(c.id) | async)"
      [attr.aria-pressed]="(isFav(c.id) | async) ? 'true' : 'false'">

      <mat-icon *ngIf="!(isFav(c.id) | async)" fontIcon="favorite"></mat-icon>
      <mat-icon *ngIf="(isFav(c.id) | async)" fontIcon="favorite"></mat-icon>
    </button>

    <img [src]="c.image" [alt]="c.name" />
    <h2>{{ c.name }}</h2>
    <p>{{ c.species }}</p>
  </article>
</section>

<ng-template #emptyOrLoading>
  <section class="empty-panel">
    <div class="empty-inner" *ngIf="!loading; else loadingTpl">
      <h2>Nada foi encontrado</h2>
      <p>Tente realizar uma nova busca.</p>
    </div>
  </section>
</ng-template>

<ng-template #loadingTpl>
  <section class="empty-panel">
    <div class="empty-inner">
      <h2>Carregando…</h2>
      <p>Aguarde um momento.</p>
    </div>
  </section>
</ng-template>